html, body {
    background-color: black;
    padding: 0;
    margin: 0;
    min-height: 325px;
}

h2.loading {
    text-align: center;
    display: inline-block;
    position: absolute;
    color: white;
    top: 50%;
}

canvas {
    width: 100%;
    height: 100%;
}

#nav {
    margin-left: auto;
    margin-right: auto;
}

#nav a {
    z-index: 1;
	text-align: center;
	list-style-type: none;
    color: white;
    margin-left: 5px;
    border-bottom: transparent solid 1px;
    padding-bottom: 5px;
    text-decoration: none;
}

#nav a:hover {
    border-bottom: blue solid 1px;
}

#page {
    position: absolute;
    background: rgba(100, 100, 100, 0.8);
    left: 10%;
    width: 80%;
    top: 10%;
    height: 85%;
    border-radius: 5px;
    min-height: 325px;
}

#page.mobile {
    left: 2.5%;
    top: 5%;
    width: 95%;
    height: 90%;
}

#page #button-container {
    width: 100%;
    position: absolute;
    bottom: 5%;
}

#page button {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 5%;
}

#page h1, h2 {
    text-align: center;
    color: white;
}

#page h3, h4, h5, h6 {
    padding-left: 2em;
    color: white;
}

#page a {
    color: blue;
    text-decoration: underline;
}

#page.load {
    opacity: 1;
}

